<template>
  <div class="hello col-md-6 offset-md-3">
    <p><img class="img-thumbnail" alt="Клуб Цифрового Сельского Хозяйства России" src="../assets/ogimg.png"></p>
    <p class="lead">Клуб ЦСХ - информационная точка, в которой собираются актуальные материалы о технологиях,
      событиях, компаниях и людях участвующих в становлении современного, цифрового сельского хозяйства России.</p>
    <p class="small"><router-link to="/">Клуб ЦСХ</router-link> | 2021 | <span style="color: #bbbbbb;">ведётся разработка</span></p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
