<template>
  <nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">клуб ЦСХ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <router-link to="/" class="nav-link">Главная</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/gallery" class="nav-link">Галерея</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/drawing" class="nav-link">Чертежи</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/project" class="nav-link">Проект</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/interview" class="nav-link">Интервью</router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Nav"
}
</script>
